<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet" />
    <title>Welcome to Shtcut – Your All-in-One Digital Management Platform</title>
</head>
<style>
    body {
        padding: 0%;
        margin: 0;
        box-sizing: border-box;
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container-wrapper {
        border: 1px solid rgb(218, 216, 216);
        border-radius: 1rem;
        width: 600px;
    }

    @media screen and (max-width: 600px) {
        .container-wrapper {
            width: 100%;
        }

        .container {
            padding: 6px;
        }
    }

    .header-container {
        background-color: #e0e9ff;
        height: 80px;
        display: flex;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 162px;
    }

    .title {
        font-weight: 600;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .list-content {
        margin-top: 10px;
    }

    .content-container {
        padding: 2rem;
    }

    @media screen and (max-width: 600px) {
        .content-container {
            padding: 1rem;
        }
    }

    .content-highlight {
        color: #2f64e9;
    }

    .list-content p {
        margin: 2px;
    }

    .cheers-section p {
        margin: 2px;
    }

    .help-section {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .social-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .social-container img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    footer {
        background-color: #e0e9ff;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        margin-top: 1rem;
    }

    footer p {
        margin: 2px;
        text-align: center;
    }

    footer button {
        font-weight: 600;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
</style>

<body>
    <section class="container">
        <section class="container-wrapper">
            <section class="header-container">
                <img src="./img/logo-shtcut.png" alt="" class="logo" />
            </section>
            <h1 class="title">Welcome to Shtcut!</h1>
            <section class="content-container">
                <p>Hi there,</p>
                <p>
                    Welcome to Shtcut! We’re excited to partner with you to make managing your online presence easier
                    and more effective.
                <p>
                    Shtcut isn’t just a tool—it’s a platform designed to help you save time, connect with your audience,
                    and grow your business.
                </p>
                </p>
                <p>Here’s what you can do right away:</p>
                <p><b>What Shtcut Offers</b></p>
                <section class="list-content">
                    <p>
                        ~<span class="content-highlight">Shorten URLs: </span>
                        Shorten links to make them cleaner, easier to share, and more memorable. Perfect for campaigns,
                        emails, and social media..
                    </p>
                    <p>
                        ~<span class="content-highlight">Social Media Manager: </span> Manage all your social accounts
                        from one place. Schedule posts, stay consistent, and keep your audience engaged without the
                        stress.
                    </p>
                </section>
                <p>
                <p><b>Why Shtcut?</b></p>
                We’ve created Shtcut to take the hassle out of managing your online presence. With everything in one
                place, you’ll spend less time juggling tools and more time focusing on growing your business.

                <p>
                    We’re excited to work with you and look forward to seeing how Shtcut can help your business succeed.
                    If there’s anything you need, don’t hesitate to reach out.
                </p>

                Welcome aboard, and here’s to a prosperous partnership!
                </p>
                <section class="cheers-section">
                    <p>Cheers</p>
                    <p>The Shtcut Team</p>
                </section>
                <p class="help-section">
                    Need help? We’re here if you need it. Visit the Help Center or
                    contact us.
                </p>
                <section class="social-container">
                    <img src="./img/fb.png" alt="" />
                    <img src="./img/linkldn.png" alt="" />
                    <img src="./img/twitter.png" alt="" />
                    <img src="./img/instagram.png" alt="" />
                    <img src="./img/youtube.png" alt="" />
                </section>
            </section>
            <footer class="">
                <p>
                    You're receiving this email because you are a subscriber of
                    Shtcut.com
                </p>
                <p>
                    If you feel you received it by mistake or wish to unsubscribe,
                    <button>click here</button>
                </p>
            </footer>
        </section>
    </section>
</body>

</html>